<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Фильмы</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #333;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>

<a href="{% url 'home' %}">Назад</a>

<h1 style="text-align: center;">Фильмы</h1>
{% if movies %}
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Постер</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
                {% for mo in movies %}
                    <tr>
                        <td>{{ mo.title }}</td>
                        <td><img src="{{ mo.poster.url }}" alt="{{ mo.title }}"></td>
                        <td>{{ mo.about }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
            {% else %}
                <h4>Фильмов нет...</h4>
            {% endif %}

<h1 style="text-align: center;">Добавление фильма</h1>
<form method="post" enctype="multipart/form-data" style="text-align: center;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
</form>
</body>
</html>