table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal__main {
    position: relative;
    max-width: 600px;
    background-color: azure;
    margin: auto;
    color: #000;
    border-radius: 16px;
    padding: 30px;
    cursor: default;
}

.modal__title {
    margin-bottom: 30px;
}

.modal__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color 15s ease-in-out;
    border-radius: 3px;
    padding: 0;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
}

.modal__close:focus-visible {
    outline-color: green;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #97a8b5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #00c4b6, #3e64ff);
  color: white;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.logo a:hover {
  opacity: 0.8;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: opacity 0.3s ease;
}

.menu-item i {
  margin-right: 8px; /* Фиксированное расстояние между иконкой и текстом */
}

.right-items {
  display: flex;
  gap: 10px; /* Маленькое расстояние между уведомлением и профилем */
}

.menu-item:hover {
  opacity: 0.8;
}

.menu-item svg {
  margin-right: 5px;
}