<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'moviesApp/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'moviesApp/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'moviesApp/css/notifications.css' %}">
    <link rel="stylesheet" href="{% static 'moviesApp/css/movie_detail.css' %}">
</head>
<body>
{% include "moviesApp/header.html" %}

<div class="content has-header-offset">
{% block content %}
{% endblock %}
</div>
    <script src="{% static 'moviesApp/js/notification.js' %}"></script>
<!--Скрипт для кнопки "Показать/Скрыть ответы"-->
    <script src="{% static 'moviesApp/js/toggle_replies.js' %}"></script>
    <script src="{% static 'moviesApp/js/movie_comments.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const burger = document.getElementById('burger-menu');
            const menu = document.getElementById('main-menu');

            if (burger && menu) {
                burger.addEventListener('click', () => {
                    menu.classList.toggle('open');
                });
            }

            // Закрытие меню при клике вне его области
            document.addEventListener('click', function (event) {
                if (!menu.contains(event.target) && !burger.contains(event.target)) {
                    menu.classList.remove('open');
                }
            });
        });
</script>
</body>
</html>