<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'moviesApp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'moviesApp/fontawesome/css/all.min.css' %}">
</head>
<body>
{% include "moviesApp/header.html" %}

<div class="content">
{% block content %}
{% endblock %}
</div>
<!--Скрипт для кнопки "Показать/Скрыть ответы"-->
    <script src="{% static 'moviesApp/js/toggle_replies.js' %}"></script>
</body>
</html>