<header class="header">
    <div class="logo"><a href="{% url 'home' %}">Cinemate</a></div>
    <nav class="menu">
      <a href="{% url 'movies' %}" class="menu-item"><i class="fa-solid fa-film"></i><span>Фильмы</span></a>
      <div class="right-items">
        <a href="#" class="menu-item"><i class="fas fa-bell icon-notification"></i></a>
        <div class="dropdown">
          {% if request.user.is_authenticated %}
            <a href="{% url 'profile' %}" class="menu-item"><i class="fas fa-user-circle icon-profile"></i></a>
          {% else %}
            <a href="{% url 'login' %}" class="menu-item"><i class="fas fa-user-circle icon-profile"></i></a>
          {% endif %}
        </div>
      </div>
    </nav>
</header>