<header class="header">
    <div class="logo"><a href="{% url 'home' %}">Cinemate</a></div>

    <!-- Бургер-иконка (видна только на мобильных) -->
    <button class="burger" id="burger-menu">
        <i class="fas fa-bars"></i>
    </button>

    <nav class="menu" id="main-menu">
        <a href="{% url 'reviews' %}" class="menu-item"><i class="fa-solid fa-comments"></i><span>Обсуждения</span></a>
        <a href="{% url 'movies' %}" class="menu-item"><i class="fa-solid fa-film"></i><span>Фильмы</span></a>
        <div class="right-items">
            <a href="#" id="notification-icon" class="menu-item">
                <i class="fas fa-bell icon-notification"></i>
                <span id="notification-count" class="notification-count" style="display:none;">!</span>
            </a>
            <div id="notification-dropdown" class="notification-dropdown" style="display:none;">
                <div id="notification-list">Загрузка...</div>
            </div>
            <div class="dropdown">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="menu-item">
                        <i class="fas fa-user-circle icon-profile"></i>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="menu-item">
                        <i class="fas fa-user-circle icon-profile"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>