<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Фильмы</title>
    <link rel="stylesheet" href="{% static 'moviesApp/css/styles.css' %}">
</head>
<body>

{% if user.is_authenticated %}
    <a href="{% url 'profile' %}">Назад</a>
    <p>Имя {{ user.username}}</p>
{% else %}
    <a href="{% url 'home' %}">Назад</a>
{% endif %}

<h1 style="text-align: center;">Фильмы</h1>
{% if movies %}
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Постер</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
                {% for mo in movies %}
                    <tr>
                        <td>{{ mo.title }}</td>
                        <td>
                          {% if mo.poster %}
                            <img src="{{ mo.poster.url }}" alt="{{ mo.title }}">
                          {% else %}
                            <span>(Постер к фильму не найден)</span>
                          {% endif %}
                        </td>
                        <td>{{ mo.about }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
            {% else %}
                <h4>Фильмов нет...</h4>
            {% endif %}

{% if user.is_authenticated %}
<h1 style="text-align: center;">Добавление фильма</h1>
<form method="post" enctype="multipart/form-data" style="text-align: center;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
</form>
{% else %}
    <h3 style="text-align: center;"><a href="{% url 'login' %}">Авторизуйтесь</a>, чтобы добавить фильм</h3>
{% endif %}
</body>
</html>