{% extends "moviesApp/base.html" %}

{% block title %}
    Фильмы
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <a href="{% url 'profile' %}">Назад</a>
    <p>Имя {{ user.username}}</p>
{% else %}
    <a href="{% url 'home' %}">Назад</a>
{% endif %}

<h1 style="text-align: center;">Фильмы</h1>
{% if movies %}
    <table>
        <tbody>
            {% for mo in movies %}
                <tr>
                    <td>
                      {% if mo.poster %}
                        <img src="{{ mo.poster.url }}" alt="{{ mo.title }}">
                      {% else %}
                        <span>(Постер к фильму не найден)</span>
                      {% endif %}
                    </td>
                    <td><a href="{% url 'movie' mo.id %}">{{ mo.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
            {% else %}
                <h4>Фильмов нет...</h4>
            {% endif %}

{% endblock %}