<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мои статьи</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'moviesApp/css/styles.css' %}">
</head>
<body>
<h1>Статьи {{ user.username }}</h1>
<a href="{% url 'reviews' %}">Все обсуждения</a>

{% if reviews %}
<table>
  <thead>
    <tr>
      <th>Тема</th>
      <th>Фильм</th>
      <th>Контент</th>
    </tr>
  </thead>
  <tbody>

{% for rv in reviews %}
    <tr>
        <td>{{rv.title}}</td>
        <td>
        {% if rv.movie %}
          {% if rv.movie.poster %}
              <div style="display: flex; align-items: center;">
                <img src="{{ rv.movie.poster.url }}" alt="{{ rv.movie.title }}" style="width: 100px; height: auto; margin-right: 10px;">
                <span>{{ rv.movie.title }}</span>
              </div>
          {% else %}
            <span>(Постер к фильму не найден)</span>
          {% endif %}


        {% else %}
          <span>(Фильм не указан)</span>
        {% endif %}
      </td>
      <td>{{rv.content}}</td>
      <td><button type="submit" class="section__button">Изменить</button></td>
    </tr>
{% endfor %}

  </tbody>
</table>

{% else %}
<h1>Пока нет обсуждений...</h1>
{% endif %}

<div class="modal">
    <div class="modal__main">
        <h2 class="modal__title">Модальное окно</h2>
        <div class="modal__container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores ipsa totam vero?</p>
        </div>
        <button class="modal__close">&#10006;</button>
    </div>
</div>

<script>
    const buttonElem = document.querySelector('.section__button');
    const modalElem = document.querySelector('.modal');

    modalElem.style.cssText = `
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: opacity 300ms ease-on-out;
    `;

    const closeModal = () => {
        const target = event.target;

        if (target === modalElem || target.closest('.modal__close')) {
            modalElem.style.visibility = 'hidden';
            modalElem.style.opacity = 0;
        }
    }

    const openModal = () => {
        modalElem.style.visibility = 'visible';
        modalElem.style.opacity = 1;
    }

    buttonElem.addEventListener('click', openModal);
    modalElem.addEventListener('click', closeModal);
</script>
</body>
</html>