<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}</title>
    <link rel="stylesheet" href="{% static 'moviesApp/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css ">
</head>
<body>

{% include "moviesApp/header.html" %}

{% if request.user.is_authenticated and request.user.id == user.id %}
<h1>Ваш профиль, {{ user.username }}</h1>
{% else %}
<h1>Профиль пользователя {{ user.username }}</h1>
{% endif %}

<h2>Статистика пользователя: </h2>
<p>Написано статей: {{ review_count }}</p>
<p>Написано комментариев: Андрей добавь, твоя тема</p>

<a href="{% url 'movies' %}">Фильмы</a><br><br>
<a href="{% url 'reviews' %}">Обсуждения</a><br><br>

<br>

{% if request.user.is_authenticated %}
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Выйти из системы</button>
</form>
{% endif %}

{% if request.user.is_staff %}
<h2>Админская панель</h2>
<a href="{% url 'admin_movies' %}">Фильмы</a>
{% endif %}



</body>
</html>