<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Обсуждения</title>
    <link rel="stylesheet" href="{% static 'moviesApp/css/styles.css' %}">
</head>
<body>

{% if user.is_authenticated %}
    <a href="{% url 'profile' %}">Назад</a>
    <p>Имя {{ user.username}}</p>
    <a href="{% url 'my_reviews' %}">Мои обсуждения</a>
{% else %}
    <a href="{% url 'home' %}">Назад</a>
{% endif %}


{% if reviews %}
<table>
  <thead>
    <tr>
      <th>Автор</th>
      <th>Тема</th>
      <th>Фильм</th>
      <th>Дата написания</th>
      <th>Последнее изменение</th>
      <th>Контент</th>
      <th>Комментарии</th>
    </tr>
  </thead>
  <tbody>

{% for rv in reviews %}
    <tr>
        <td>{{ rv.user.username|default:"DELETED" }}</td>
        <td>{{rv.title}}</td>
        <td>
        {% if rv.movie %}
          {% if rv.movie.poster %}
              <div style="display: flex; align-items: center;">
                <img src="{{ rv.movie.poster.url }}" alt="{{ rv.movie.title }}" style="width: 100px; height: auto; margin-right: 10px;">
                <span><a href="{% url 'movie' rv.movie.id %}">{{ rv.movie.title }}</a></span>
              </div>
          {% else %}
            <span>(Постер к фильму не найден)</span>
          {% endif %}


        {% else %}
          <span>(Фильм не указан)</span>
        {% endif %}
      </td>
      <td>{{ rv.created_at }}</td>
      <td>{{rv.changed_at}}</td>
      <td>{{rv.content}}</td>
      <td><a href="{% url 'review_detail' rv.id %}">Перейти</a></td>
    </tr>
{% endfor %}

  </tbody>
</table>

{% else %}
<h1>Пока нет обсуждений...</h1>
{% endif %}

{% if user.is_authenticated %}
<div style="text-align: center;">
<h1>Добавить новое обсуждение</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
</form>
{% else %}
    <h3 style="text-align: center;"><a href="{% url 'login' %}">Авторизуйтесь</a>, чтобы обсуждать фильмы</h3>
{% endif %}
</div>
</body>
</html>